:root:has([data-theme-dark="true"]) {
  // changes to color variables
  --black: #fff;
  --white: #000;
  --gray-text: #b1b1b1;
  --gray-border: #393939;
  --page-bg: #1b1b1b;
  --page-bg-trans: rgba(27,27,27,0.75);
  
  // general settings
  background-color: var(--page-bg);
  color: var(--black);
}