:root:has([data-theme-dark="true"]) {
  // changes to color variables
  --black: #fff;
  --white: #000;
  --gray-text: #b1b1b1;
  --gray-border: #393939;
  --page-bg: #1b1b1b;
  --text-selection-bg: #44a1ff;
  
  // general settings
  background-color: var(--page-bg);
  color: var(--black);
}