:root {
  --black: #000;
  --white: #fff;
  --gray-text: #808080;
  --gray-border: #ddd;
  --page-bg: var(--white);
  --text-selection-bg: #007fff;
  --video-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
  --margin-side: 100px;
  --margin-top: 40px;
  --margin-top-page: 80px;
  --margin-bottom: 50px;
  --grid-gap: 60px;

  @media (max-width: 1440px) {
    --margin-side: 80px;
  }

  @media (max-width: 1300px) {
    --margin-side: 40px;
  }

  @media (max-width: 1000px) {
    --margin-side: 20px;
  }
}