// PROJECT
.content.project { 
  width: 58%;
  height: 100vh;
  overflow-y: scroll;
  
  // on mobile, take up entire column
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.content.project > section {
  margin-left: var(--margin-inner);
  margin-right: var(--margin-inner);
}

// ABOUT & NOTES
.content.about,
.content.notes { 
  width: 100%;
}

.content.about,
.content.notes {
  > section {
    margin-left: var(--margin-outer);
    margin-right: var(--margin-outer);
  } 
}

.content.notes > section {
  gap: 50px;
  max-width: 850px;
  margin-top: 100px;
}

// HOMEPAGE
.content.home { display: none; }

// SHARED STYLES
.content > section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  // using padding here so that when you switch between projects it scrolls
  // all the way back to the top of the <section>
  padding-top: var(--margin-top);
  padding-bottom: var(--margin-bottom);
}

.content {
  img, video {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  video, :global(.shadow) {
    border-radius: 6px;
    box-shadow: var(--video-shadow);
  }
}