.content { 
  padding-top: 50px; 
}

.content.project, .content.noNav {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.content.project { 
  width: 58%;
  height: 100vh;
  overflow-y: scroll;
  
  @media (max-width: 1000px) {
    width: 100%;
  }
}

// for About and Notes routes
.content.noNav { width: 100%; }

// homepage slideshow
.content.home { 
  position: absolute;
  right: 20px;
  width: 40%;
  max-width: 500px;
}

.content section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.content {
  img, video {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  video, :global(.shadow) {
    border-radius: 6px;
    box-shadow: var(--video-shadow);
  }
}