// PROJECT
.content.project { 
  width: 58%;
  height: 100vh;
  overflow-y: scroll;
  
  // on mobile, take up entire column
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.content.project section {
  margin-left: var(--margin-inner);
  margin-right: var(--margin-inner);
}

// ABOUT & NOTES
.content.noNav { 
  width: 100%;
}

.content.noNav section {
  margin-left: var(--margin-outer);
  margin-right: var(--margin-outer);
}

// HOMEPAGE
.content.home { display: none; }

.content section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}

.content {
  img, video {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  video, :global(.shadow) {
    border-radius: 6px;
    box-shadow: var(--video-shadow);
  }
}