.flex {
  display: flex;
  gap: 40px;

  @media (max-width: 700px) {
    flex-direction: column;
  }

  div {
    flex: 1;
    max-width: 400px;
  }

  video {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  }

  span {
    color: var(--gray-text);
  }
}