.gallery { 
  position: fixed;
  right: 15px;
  top: 48px;
  width: 40%;
  max-width: 500px;

  @media (max-width: 1000px) {
    position: fixed;
    bottom: 0;
    top: unset;
  }

  // hide on mobile
  @media (max-width: 600px) {
    position: initial;
    width: auto;
    margin: 0 var(--margin-outer) var(--margin-bottom) 0;
  }
}

.gallery img { 
  width: 100%;
  height: auto;
  margin: 0;
  cursor: e-resize;
}