/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[12].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src/utils/fonts.js","import":"","arguments":[{"src":"../../public/fonts/VCR_OSD_Mono.woff2","display":"swap","variable":"--font-vcr"}],"variableName":"vcrOsdMono"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__vcrOsdMono_991f2e';
src: url(/_next/static/media/08049f812012593f-s.p.woff2) format('woff2');
font-display: swap;
}@font-face {font-family: '__vcrOsdMono_Fallback_991f2e';src: local("Arial");ascent-override: 68.45%;descent-override: 0.00%;line-gap-override: 7.61%;size-adjust: 128.41%
}.__className_991f2e {font-family: '__vcrOsdMono_991f2e', '__vcrOsdMono_Fallback_991f2e'
}.__variable_991f2e {--font-vcr: '__vcrOsdMono_991f2e', '__vcrOsdMono_Fallback_991f2e'
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/content/content.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.content_content__XDxYP {
  padding-top: 75px;
}

.content_content__XDxYP.content_home__Eik_N {
  position: absolute;
  right: 20px;
}

.content_content__XDxYP.content_project__6yXUq {
  width: 55%;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1000px) {
  .content_content__XDxYP.content_project__6yXUq {
    width: 100%;
  }
}

.content_content__XDxYP.content_noNav__cMdyP {
  width: 100%;
}

.content_content__XDxYP img, .content_content__XDxYP video {
  width: 100%;
  height: auto;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/header/header.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__w2BOs {
  width: 100vw;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  font-size: 14px;
  font-family: var(--font-vcr);
  line-height: initial;
  text-align: center;
}

.header_left__ZLnuo, .header_center__RrjSN, .header_right__RggDM {
  background-color: #ffffff;
}

.header_header__w2BOs a {
  color: #000000;
  text-decoration: none;
}

.header_left__ZLnuo span {
  display: none;
}

@media (max-width: 1000px) {
  .header_header__w2BOs.header_project__e2k1n .header_left__ZLnuo h1 {
    display: none;
  }
  .header_header__w2BOs.header_project__e2k1n .header_left__ZLnuo span {
    display: initial;
  }
  .header_header__w2BOs.header_project__e2k1n .header_right__RggDM {
    display: none;
  }
}

.header_header__w2BOs.header_project__e2k1n p {
  display: none;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/nav/nav.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.nav_aside__AEmsr {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
}

.nav_aside__AEmsr.nav_home__bVf3e {
  width: 100%;
}

.nav_aside__AEmsr.nav_project__OKakl {
  width: 45%;
}
@media (max-width: 1000px) {
  .nav_aside__AEmsr.nav_project__OKakl {
    display: none;
  }
}

.nav_aside__AEmsr.nav_noNav__Wdocx {
  display: none;
}

.nav_nav__B9XQ0 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 150px 0 50px 150px;
}
@media (max-width: 1500px) {
  .nav_nav__B9XQ0 {
    margin-left: 80px;
  }
}
@media (max-width: 1200px) {
  .nav_nav__B9XQ0 {
    margin-left: 40px;
  }
}

.nav_nav__B9XQ0 > * {
  padding: 0 40px 0 15px;
}

.nav_intro__xNWOk {
  max-width: 530px;
  margin-bottom: 10px;
  font-family: serif;
  font-size: 19px;
  color: #808080;
  border-left: 1px solid transparent;
}

.nav_item__TaJW5 {
  max-width: 420px;
  text-decoration: none;
  color: #000;
  transition: transform 300ms;
}

.nav_item__TaJW5 h2 {
  text-decoration: underline;
}

@media (min-width: 700px) {
  .nav_item__TaJW5:hover, .nav_item__TaJW5.nav_active__notHO {
    transform: translateX(5px);
    border-left: 1px solid black;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/styles/globals.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  line-height: 150%;
}

h1, h2, h3, p {
  margin: 0;
  font-size: unset;
}

.wrapper {
  display: flex;
}
