/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/content/content.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.content_content__XDxYP {
  padding-top: 75px;
}

.content_content__XDxYP.content_home__Eik_N {
  position: absolute;
  right: 20px;
}

.content_content__XDxYP.content_project__6yXUq {
  width: 55%;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1000px) {
  .content_content__XDxYP.content_project__6yXUq {
    width: 100%;
  }
}

.content_content__XDxYP.content_noNav__cMdyP {
  width: 100%;
}

.content_content__XDxYP img, .content_content__XDxYP video {
  width: 100%;
  height: auto;
}
