// 2-column layout above 1300px
.project {
  @media (min-width: 1300px) {
    display: grid;
    grid-template-columns: minmax(0, 40%) minmax(0, 60%);
    gap: 80px;

    section:first-child {
      position: sticky;
      top: 40px;
      height: fit-content;
    }
  }
}

.project {
  font-family: var(--font-tobias);
}

.project p {
  margin-bottom: 20px;
}

.project a {
  font-family: sans-serif;
}

.project :global(.projectInfo) {
  font-size: 14px;
  font-family: sans-serif;
  span { display: block; }
}


.project p:global(.noMargin) {
  margin-bottom: 0;
}