.aside {
  height: 100vh;
  overflow-y: scroll;
  margin-left: var(--margin-outer);
}

.aside.home { width: 100%; }

.aside.project { 
  width: 42%;
  border-right: 1px solid var(--gray-border);
  
  @media (max-width: 1000px) {
    display: none;
  }
}

.aside.noNav { display: none; }

.nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 124px var(--margin-inner) var(--margin-bottom) 0;
}

.nav > * {
  padding-left: 15px;
  transform: translateX(-15px); // to offset padding-left
}

.intro {
  max-width: 490px;
  margin-bottom: 10px;
  font-family: serif;
  font-size: 19px;
  color: var(--gray-text);
  border-left: 1px solid transparent;
}

.item { 
  max-width: 420px;
  text-decoration: none;
  color: var(--black);
  transition: transform 300ms;
}

.item h2 { text-decoration: underline; }

.item:hover, .item.active {
  @media (min-width: 700px) {
    transform: translateX(0);
    border-left: 1px solid var(--black);
  }
}