.aside {
  height: 100vh;
  overflow-y: scroll;
  margin-left: var(--margin-outer);
}

// PROJECT
.aside.project { 
  width: 42%;
  border-right: 1px solid var(--gray-border);
  
  @media (max-width: 1000px) {
    display: none;
  }
}

.aside.project :global(.gallery) {
  display: none;
}

// HOME
.aside.home { 
  width: 100%;
 }

// ABOUT & NOTES
.aside.noNav { display: none; }

.nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 124px var(--margin-inner) var(--margin-bottom) 0;
}

.intro {
  max-width: 490px;
  margin-bottom: 10px;
  font-family: serif;
  font-size: 19px;
  color: var(--gray-text);
}

.item { 
  max-width: 420px;
  text-decoration: none;
  color: var(--black);
  transition: color 300ms;
}

.item h2 { text-decoration: underline; }

.item:hover, .item.active {
  color: var(--gray-text);
}